.contact {
  text-align: right;
  font-style: normal;
  
  @include tablets {
    display: none;
  }
}

.contact__phone {
  color: $white;
  font-size: rem(24px);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  &:before {
    content: url(../img/welcome/icon/phone.png);
  }
}