.contact {
  text-align: right;
  font-style: normal;
}

.contact__phone {
  color: $white;
  font-size: 24px;
  font-weight: 400;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;

  &:before {
    content: url(../img/welcome/icon/phone.png);
  }
}