.desc {
  margin-bottom: 5%;
}

.desc__list {
  display: flex;
}

.desc__item {
  display: flex;
  width: rem(140px);
  margin-right: rem(30px);

  &:last-child {
    margin-right: 0;
  }

}

.desc__pic {
  width: rem(44px);
  height: rem(44px);
  flex-shrink: 0;
  fill: none;
  stroke: $white;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  margin-right: rem(12px);
}