.desc__list {
  display: flex;
}

.desc__item {
  display: flex;
  width: 140px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

}

.desc__pic {
  color: $white;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: $white;
  position: relative;
  mask-repeat: no-repeat;
}

.desc__pic--sheet {
  mask-image: url(/img/welcome/icon/sheet-icon.svg);

}
.desc__pic--car {
  mask-image: url(/img/welcome/icon/car.svg);
}

.desc__pic--roulette {
  mask-image: url(/img/welcome/icon/roulette.svg);
}

