.header {
  position: absolute;
  width: 100%;
  padding-top: rem(15px);
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
   
  @include tablets {
    justify-content: start
  }
}

