
.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav__link {
  text-decoration: none;
  color: $white;
  text-transform: capitalize;
  font-size: 18px;
}