.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav__link:first-letter {

  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  color: $white;
}