.plus {
  display: flex;
  text-align: center;
}

.plus__img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $grey;
  border-radius: 50%;
  height: rem(80px);
  width: rem(80px);
  margin: 10% auto;

  &:after {
    content: url(../img/advantages/dot_after.png);
    display: flex;
    margin-left: 110%;
  }
}

.plus__item {
  margin-right: rem(60px);
}

.plus__item:last-child .plus__img:after {
  display: none;
}

.plus__icon {
  // height: rem(50px);
  margin-left: 19%;
  width: rem(50px);
}

.plus__head {
  width: rem(250px);
  font-weight: 600;
  font-size: rem(27px);
  margin-bottom: rem(30px);
}

.plus__text {
  font-weight: 300;
  color: $dark-grey;
}