.plus {
  display: flex;
  text-align: center;
}

.plus__img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $grey;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10% auto;

  &:after {
    content: url(/img/advantages/dot_after.png);
    display: flex;
    margin-left: 110%;
  }

  &:nth-last-child(1) {
    &:after {
      display: none;
    }
  }
}

.plus__icon {
  // height: 50px;
  margin-left: 19%;
  width: 50px;
}