.reviews__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    overflow: hidden;
    width: 8.6rem;
    height: 20rem;
    background: url(../img/reviews/berries.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: -10%;

    @include phones {
      width: 5.937rem;
      height: 19.812rem;
      bottom: -21%;
    }
    @include phones-small {
      width: 4.9rem;
      height: 16rem;
    }
  }

  &::after {
    content: "";
    overflow: hidden;
    width: 9.375rem;
    height: 5.375rem;
    background: url(../img/reviews/berri-two.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 2%;
    @include phones {
      width: 7.062rem;
      height: 4.937rem;
    }
  }
}

.reviews__head {
  margin-bottom: rem(40px);

  @include phones-small {
    margin-bottom: 0.5rem;
  }
}

.reviews__main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-image: url(../img/reviews/reviews-img.png);
  background-repeat: no-repeat;
  background-color: $grey;
  background-position: top right;
  position: relative;
  margin-bottom: rem(20px);
  min-height: rem(340px);

  @include tablets {
    display: flex;
    justify-content: center;
  }
}
.reviews__main::before {
  content: "";
  display: block;
  position: absolute;
  left: 45%;
  bottom: 93%;
  width: rem(80px);
  height: rem(25px);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background: $white;

  @include tablets {
    bottom: 96%;
  }
}

.reviews__item {
  display: none;
  flex-shrink: 0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow: hidden;


  @include tablets {
    display: flex;
    flex-flow: column;
    width: 30.666rem;
    height: 35rem;
  }

  @include phones {
    width: 25.666rem;
  }

  @include phones-small {
    margin: 0;
  }
}



.reviews__item.is-active {
  display: flex;
  overflow: hidden;
}

.reviews__pic {
  @include tablets {
    width: 12.6rem;
    height: 12.6rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }
}

.reviews__desc {
  margin-left: rem(20px);
  text-align: left;
  width: rem(460px);

  @include tablets {
    text-align: center;
    margin: 0;
  }

  @include phones {
    width: 25.062rem;
  }
}

.reviews__title {
  font-size: rem(30px);
  font-weight: 400;
  margin-bottom: rem(30px);
}

.reviews__text {
  margin-bottom: rem(30px);
}

.reviews__text,
.reviews__name {
  color: $dark-grey;
  font-size: rem(18px);
  font-weight: 400;
  margin-bottom: 3%;
}

.reviews__name {
  font-weight: 600;
}

.reviews__list {
  display: flex;
  justify-content: center;

  @include tablets {
    margin-top: 1rem;
    z-index: 2;
  }
}

.reviews__img {
  margin-right: rem(13px);
}

.reviews__img.is-active {
  //border: rem(6px) solid $green;
  border-radius: 50%;
  box-shadow: 0 0 0 rem(6px) $green;
}

.reviews__img--list {
  width: rem(70px);
  height: rem(70px);
  border-radius: 50%;
  object-fit: cover;
  display: block;
}