.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.reviews__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url(/img/reviews/bg-rev.png);
  background-repeat: no-repeat;
  background-size: auto 345px;
  background-position: center center;
  position: relative;
}

.reviews__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
