.welcome {
  position: relative;
  color: $white;
  background-image: url(../img/welcome/bg-welcome.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: $blue;

  @include tablets {
    background-position: right top;
  }

  &::before {
    content: "";
    background: url(../img/welcome/sheet.png) no-repeat;
    background-size: contain;
    width: 3.687rem;
    height: 7rem;
    position: absolute;
    left: 1%;
    bottom: -9%;

    @include tablets {
      display: none;
    }
  }

  &::after {
    content: "";
    background: url(../img/welcome/berries.png) no-repeat;
    background-size: contain;
    width: 28.75rem;
    height: 21.312rem;
    position: absolute;
    right: 0;
    bottom: -4%;

    @include tablets {
      display: none;
    }
  }
}

.welcome__container {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;

  @include tablets {
    align-items: center;
    text-align: center;
  }
}

.welcome__intro {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  
  @include tablets {
    flex-direction: column-reverse;
    justify-content: center;
  }
}