.welcome {
  color: $white;
  background-image: url(../img/welcome/bg-welcome.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: $blue;
}

.welcome__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
}